[connectivity]
nk=NeuroRing:4:NeuroRing_0,NeuroRing_1,NeuroRing_2,NeuroRing_3
nk=AxonLoader:4:AxonLoader_0,AxonLoader_1,AxonLoader_2,AxonLoader_3

sp=AxonLoader_0.SpikeRecorder_SynapseList:HBM[0]
sp=AxonLoader_1.SpikeRecorder_SynapseList:HBM[4]
sp=AxonLoader_2.SpikeRecorder_SynapseList:HBM[8]
sp=AxonLoader_3.SpikeRecorder_SynapseList:HBM[12]

stream_connect=AxonLoader_0.SynapseStream:NeuroRing_0.synapse_stream:256
stream_connect=AxonLoader_1.SynapseStream:NeuroRing_1.synapse_stream:256
stream_connect=AxonLoader_2.SynapseStream:NeuroRing_2.synapse_stream:256
stream_connect=AxonLoader_3.SynapseStream:NeuroRing_3.synapse_stream:256

stream_connect=NeuroRing_0.spike_out_axon:AxonLoader_0.SpikeOutIn:256

stream_connect=NeuroRing_1.spike_out_axon:AxonLoader_1.SpikeOutIn:256

stream_connect=NeuroRing_2.spike_out_axon:AxonLoader_2.SpikeOutIn:256

stream_connect=NeuroRing_3.spike_out_axon:AxonLoader_3.SpikeOutIn:256

stream_connect=NeuroRing_0.syn_forward_rt:NeuroRing_1.syn_route_in:2048
stream_connect=NeuroRing_1.syn_forward_rt:NeuroRing_2.syn_route_in:2048
stream_connect=NeuroRing_2.syn_forward_rt:NeuroRing_3.syn_route_in:2048
stream_connect=NeuroRing_3.syn_forward_rt:NeuroRing_0.syn_route_in:2048

#slr=AxonLoader_0:SLR0
#slr=AxonLoader_1:SLR0
#slr=AxonLoader_2:SLR0
#slr=AxonLoader_3:SLR0

[vivado]
prop=run.impl_1.strategy=Performance_ExtraTimingOpt
prop=run.__KERNEL__.{STEPS.SYNTH_DESIGN.ARGS.MORE OPTIONS}={-retiming}
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.{STEPS.PLACE_DESIGN.ARGS.MORE OPTIONS}={-retiming}
